@import "common.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* DEBUG */
.debug footer{
    background-color: lightblue;
    height: 3.125rem;
}
.debug .main-nav{
    background-color: lightcoral;
    width: 12.5rem;
}
.debug .main-content header{
    background-color: lightblue;
}

/* MAIN */
.row-main-viewport{
    display: flex;
}

/* MAIN NAV LEFT */
.main-nav{
    height: calc(100vh - 3.125rem);
    position: relative;
}
.nav-footer{
    position: absolute;
    bottom: 0;
}


/* MAIN CONTENT */
.main-content{
    overflow-y: scroll;
    width: calc(100% - 12.5rem);
}
/* FOOTER */
footer{
    width: 100vw;
   
}
/* 
------------------------
------------------------
    RESPONSIVE
------------------------
------------------------
*/

/* TABLET */
@media screen and (max-width: 1100px) {
    
}

/* MOBILE M */

@media screen and (max-width: 700px) {
    
}

/* MOBILE S */

@media screen and (max-width: 600px) {
    
}